.container {
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	background-color: white;
	background-size: cover;
	border-radius: 5px;
	padding: 25px;
	margin: 100px auto;
	width: 300px;
	text-align: center;
}

#avatar {
	border-radius: 50px;
}